extend ../code

block title
  h3 How Angular code with Web Components

block code
  template(id='code').
    var app = angular.module('lightApp', []);

    app.controller('LightCtrl', function ($scope) {
      $scope.lights = ['red', 'yellow', 'green'];

      $scope.add = function () {
        $scope.lights.push('blue');
      };
    }).directive('light', function () {
      return {
        // A for atrrbute, C for Class, E for Element
        restrict: 'E',
        scope: {
          color: '@'
        },
        template: '<div ng-click="lightUp()" style="background: {{bg}}">my color is {{color}}, click me</div>',
        link: function (scope) {
          scope.lightUp = function () {
            scope.bg = scope.color;
          } 
        }
      };
    }).directive('lightList', function () {
      return {
        restrict: 'E',
        scope: {
          colors: '='
        },
        template: '<light ng-repeat="c in colors" color="{{c}}"></light>'
      }
    });

    // <div ng-app="lightApp"> ... </div>
    angular.bootstrap($('#ng-container')[0], ['lightApp']);

block display
  template(id="display_placeholder")
    div(id="ng-container")
      div(ng-controller="LightCtrl")
        light-list(colors="['red','green','yellow']")
        br
        light-list(colors="['red','green','yellow']")
        br
        light-list(colors="['red','green','yellow']")
block script
  script(src="/javascripts/angular.js")