extend ../code

block title
  h3 How React code

block code
  template(id='code').
    // blabla ...
    // 封装自定义标签
    // ...
    // 还不是很会写react
    
    // 然后标签也是长这样
    light(color="red")
    
    // 或者这样
    light-list(colors="['red','green','yellow']")

    // 里面甚至应该带有组件的样式

block display
  template(id="display_placeholder")
       