extend ../code

block title
  h3 异步处理

block code
  template(id='code').
    function lightOn(n) {
      return new Promise(function(resolve, reject){
        setTimeout(function(){
          $('light').trigger('light_off');
          $('light').eq(n).trigger('light_on');
          resolve();
        }, 1000);
      });
    }

    lightOn(0)
      .then(function(){
        return lightOn(1);
      })
      .then(function(){
        return lightOn(2);
      })
      .then(function(){
        return lightOn(1);
      })
      .then(function(){
        return lightOn(0);
      });
        
  
block display
  template(id="display_placeholder")
    div(id="ng-container")
      div(ng-controller="LightCtrl")
        light(color="red")
        light(color="yellow")
        light(color="green")
block script
  script(src="/javascripts/angular.js")
  script(src="/javascripts/light_webcompoents.js")