extend ../code

block title
  h3 How jquery code

block code
  template(id='code').
    $('.div1')
      .html('red light')
      .css({
        background: 'red'
      });
    $('.div2')
      .html('yellow light')
      .css({
        background: 'yellow'
      });
    $('.div3')
      .html('green light')
      .css({
        background: 'green'
      });

block display
  template(id="display_placeholder")
    .div1 div1
    .div2 div2
    .div3 div3