doctype html
html
  head
    title ppt
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/ppt_app.js")
    block head
  body
    block content